@import 'tailwindcss';

@plugin 'daisyui';

@source inline('bg-{red,blue,green}-{200,400,500,600}');

@source inline('toast-{start,center,end,top,middle,bottom}');

@source inline('alert-{outline,dash,soft,info,success,warning,error}');

@source inline('btn-{primary,secondary,accent,neutral,info,success,warning,error}');

@source inline('from-{primary,secondary,accent,neutral,info,success,warning,error}');

@source inline('to-{primary,secondary,accent,neutral,info,success,warning,error}');

/* body {
	font-family: 'Noto Serif Myanmar', serif;
	font-style: normal;
} */
@theme {
	--color-biological: #10b981;
	--color-romantic: #f43f5e;
	--color-professional: #3b82f6;
	--color-platonic: #f59e0b;
}
@source inline('{text,decoration}-{biological,romantic,professional,platonic}');
